@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body::-webkit-scrollbar-track {
    z-index: 30;
    background-color: #00000000;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #00000000;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(17, 24, 39, 0.9);
    border: 1px solid #aaaaaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1 {
    color: black;
}